<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="rects" type="DexpBugDetectorWpf.Configuration, DexpBugDetectorWpf" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<rects>
		<rect pos="0, 0, 1920, 1" color="80FFFFFF" />
	</rects>
	<appSettings>
		<add key="CaptureFolder" value="C:/temp/capture/" />
	</appSettings>
</configuration>